<div class="container panel panel-primary">
  <div class="panel-body">
    <h1>New Product</h1>
  </div>
  <div class="panel-footer">Create a new product</div>
</div>

<%= render 'form' %>


<style>
  .container{
      padding: 0px;
  }
  .panel-primary{
      background: #428BCA;
  }
</style>